{% extends "layout.twig" %}

{% block title %}
    Page d'administration
{% endblock %}


{% block main %}
    <h2>Configurez votre site</h2>
    <p>Kebab</p>
{% endblock %}


{% block script %}
    <script src="js/class/FormValidator.class.js"></script>
{% endblock %}
