{% extends "layout.html.twig" %}

{% block title %}
    Picolo
{% endblock %}


{% block main %}
    <h2>Et bein en fait c'est la page d'accueil</h2>
    <p>Kebab</p>
{% endblock %}


{% block script %}
    <script src="js/class/FormValidator.class.js"></script>
{% endblock %}
