{% extends "layout.twig" %}

{% block title %}
    Picolo
{% endblock %}


{% block main %}
    <main class="content">
        <h2>Et bein en fait c'est la page d'accueil</h2>
        <p>Kebab</p>
    </main>
{% endblock %}


{% block script %}
    <script src="js/class/FormValidator.class.js"></script>
{% endblock %}
