{% extends "layout.twig" %}

{% block title %}
    Mes précédents tavaux
{% endblock %}


{% block main %}
    <main class="content">
        {# affichage des éléments du portfolio #}
        <section class="flex flex-wrap">
            <header class="full">
                <h1>Présentation de mes différents travaux</h1>
                <p class="description">Au cours de ma carrière de développeur j'ai pu débvelopper les applications web
                    suivantes, n'hésitez pas à les consulter</p>
                <p>Vous pouvez souhaiter vouloir envisager ou meme caresser l'espoir de faire un tour sur <a
                            href="https://github.com/ADcreatif" class="link-ext"
                            title="consultez le git de alan dedobbeler">mon git</a>.</p>
            </header>

            {% for item in portfolio %}
                <article>
                    <figure>
                        <img src="{{ item.image }}">
                        <figcaption>{{ item.title }}</figcaption>
                    </figure>
                    <a href="{{ path('portfolio-item', {'id': item.id ,'title': item.title}) }}"
                       title="{{ item.title }}">
                        Lire l'article
                    </a>
                </article>

            {% else %}
                <p>Nous sommes désolé, il n'y à pas d'élément à afficher pour l'instant</p>
            {% endfor %}

        </section>
    </main>
{% endblock %}